* {
    font-family: 'Instrument Sans', sans-serif;
    color: black;
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

.logo {
    width: 38px;
    height: 38px;
    border-radius: 10px;
}

h1 {
    font-size: 20px;
    /*text-transform: uppercase;*/
    font-weight: 600;
}

input {
    border: none;
    border-bottom: 2px solid black;
    font-size: 20px;
    color: black;
    background-color: transparent;
    font-weight: 500;
    width: 100%;
    padding: 10px;
}

input:focus {
    color: black;
    outline: none;
}

button {
    font-size: 26px;
    font-weight: 500;
    padding: 8px 16px;
    border-radius: 8px;
    width: 100%;
    border: 2px solid rgb(0, 0, 40);
    background-color: #A5D1F6;
    cursor: pointer;
}

body {
    background-color: #D4F4FF;
}

label {
    display: block;
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 32px;
}

header {
    margin-bottom: 32px;
    background-color: #A5D1F6;
    padding: 8px 16px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border: 2px solid rgb(0, 0, 40);
}

.container {
    margin: 0 auto;
    padding: 16px;
    max-width: 400px;
    border: 1px solid black;
    border-radius: 16px;
}

.field {
    margin-bottom: 32px;
}

.emoji-list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: center;

}

.emoji {
    font-size: 40px;
    height: 84px;
    width: 84px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    cursor: pointer;
}

.selected,
.emoji:hover {
    background-color: #A5D1F6;
}

/*display none to hide the content*/
.result-screen,
.loading-screen,
.building-screen {
    display: none;
}

/*show the content based on the parent's class*/
.result>.result-screen,
.loading>.loading-screen,
.building>.building-screen {
    display: block;
}

.loading-screen>img {
    width: 150px;
    height: 150px;
    margin: 150px auto;
    display: block;
}

.story {
    margin-bottom: 32px;
}

.story-title {
    font-size: 40px;
    font-weight: 500;
}

.story-text {
    font-size: 22px;
    font-weight: 400;
    line-height: 32px;
}

.result-buttons {
    display: flex;
    gap: 16px;
}

.secondary-button {
    width: auto;
    background-color: transparent;
}